r95_merged.sorted_*
*.fa
*.fasta
*.fai
svtype_uniq_list.txt
chromFa.tar.gz
*.ggf
*.pcf
*.vcf
*.txt
sv_chr20.*
NA12878*
analysis.rb
data/
r95/
rel3/
hg19/
hg38/
ins_ex*
.DS_Store
sample*
refmaker.rb
svmaker.rb